* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    list-style: none;
}

.container {
    display: flex;
    max-width: 1660px;
}

.sidebar {
    background-color: #141313;
    color: #fff;
    padding: 48px;
    width: 285px;
    min-height: 100vh;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
}

.stick {
    position: fixed;
}

.logo-container {
    margin-bottom: 100px;
}

.menu-container {
    margin-bottom: 218px;
}

.menu-container ul li {
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-item {
    cursor: pointer;
    position: relative;
    color: white;
    text-decoration: none;
}

.menu-item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    left: 0;
    top: 45%;
    transition: 300ms ease-in-out;
    background: linear-gradient(90deg, rgba(204, 128, 28, 1) 0%, rgba(226, 145, 14, 1) 35%, rgba(255, 205, 0, 1) 100%);
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item:active::after {
    width: 100%;
}


.icon-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}

.icon-wrapper {
    background-color: #F3F3F3;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: calc(100% - 285px);
    padding-left: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    position: relative;
    width: 515px;
}

.condiment-content {
    position: absolute;
    top: 25px;
    left: -40px;
    z-index: -1;
}

.content h1 {
    font-size: 116px;
    margin-bottom: 24px;
}

.content h3 {
    font-size: 32px;
}

.btn {
    font-size: 18px;
    color: #fff;
    background-color: #141313;
    padding: 18px 40px;
    margin-top: 48px;
    margin-bottom: 64px;
}

.social-content {
    display: flex;
    gap: 48px;
}

.social-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-wrapper p {
    font-size: 18px;
}

.horizontal-line {
    height: 131px;
    width: 2px;
    background-color: #bdbdbd;
    align-self: center;
}

.profile-container {
    display: flex;
    align-items: center;
    padding: 105px 0 72px 115px;
    gap: 140px;
}

.profile-heading {
    margin-bottom: 55px;
}

.profile-heading h6 {
    margin-bottom: 18px;
    font-size: 16px;
}

.profile-heading h1 {
    font-size: 48px;
    text-transform: uppercase;
}

.profile-content img {
    margin-bottom: 50px;
}

/* .profile-information {
    justify-self: flex-end;
} */

.profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px
}

.profile-title h1 {
    font-size: 48px;
}

.profile-title p {
    font-size: 24px;
    margin-bottom: 32px;
    cursor: pointer;
}

.information-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 36px;
    row-gap: 35px;
}

.information {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: 340px;
    column-gap: 12px;
}

.information img {
    background-color: #F3F3F3;
    border-radius: 100%;
    padding: 12px;
}

.about {
    display: flex;
    flex-direction: column;
    width: calc(100% - 285px);
}

.about-wrapper {
    padding-top: 50px;
    display: flex;
    margin-bottom: 78px;
}

.about-content {
    width: 315px;
}

.about-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.about-title h1 {
    font-size: 48px;
}

.about-title h4 {
    font-size: 18px;
}

.about-title p {
    font-size: 18px;
}

.quote {
    background-color: #141313;
    color: #fff;
    padding: 42px;
    font-size: 20px;
}

.experience {
    padding: 120px 115px;
    display: flex;
    gap: 145px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(190, 86, 86, 1) 70%, rgba(252, 176, 69, 1) 100%);
    ;
    color: #fff;
}

.experience-wrapper {
    width: 440px;
}

.experience-wrapper h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.experience-wrapper h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

.experience-wrapper p {
    font-size: 18px;
    margin-bottom: 48px;
}

.experience-wrapper input {
    padding: 16px 40px;
    background-color: #141313;
    color: #F3F3F3;
    border-style: none;
    font-size: 18px;
}

.timeline-content {
    width: 550px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 40px;
}

.timeline-title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 12px;
}

.timeline-content h4 {
    font-size: 32px;
}